nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $yellow;
  z-index: 1;
  // display: none;

  a {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      height: 2px;
      right: 0;
      bottom: -5px;
      width: 0;
      background-color: $black;
      transition: 0.4s ease;
    }

    &:hover {
      &::after {
        left: 0;
        width: 100%;
      }
    }
  }

  .nav-columns {
    transform: translateY(125px);
    display: flex;
    padding: 0 32px;

    @include media("<=654px") {
      flex-direction: column;
    }

    @include media("<=phone") {
      padding: 0 16px;
    }

    .nav-column {
      width: 45%;

      @include media("<=654px") {
        width: 100%;
      }

      &:last-child {
        width: 55%;

        @include media("<=654px") {
          width: 100%;
        }
      }

      .nav-label {
        margin-bottom: 3rem;
        font-size: 1.2rem;
        font-weight: 600;

        @include media("<=tablet") {
          margin-bottom: 1.4rem;
          font-size: 1rem;
        }

        @include media("<=phone") {
          margin-bottom: 1.2rem;
          font-size: 0.875rem;
        }
      }

      .nav-links {
        padding: 0;
        margin: 0;

        li {
          list-style: none;
          margin-bottom: 2.8rem;

          @include media("<=phone") {
            margin-bottom: 1.6rem;
          }

          a {
            font-weight: 600;
            font-size: 2.8rem;
            text-decoration: none;
            color: $black;

            @include media("<=phone") {
              font-size: 2rem;
            }
          }
        }
      }

      .nav-infos {
        display: flex;
        flex-wrap: wrap;

        @include media("<=654") {
          justify-content: space-between;
        }

        .nav-info {
          padding: 0;
          width: 50%;
          &:nth-child(2),
          &:nth-child(3) {
            @include media("<=654") {
              display: none;
            }
          }

          .nav-info-label {
            font-weight: 600;
          }

          li {
            // font-weight: 300;
            list-style-type: none;
            font-size: 1.4rem;
            margin-bottom: 1.2rem;

            @include media("<=tablet") {
              font-size: 1.2rem;
              margin-bottom: 1rem;
            }

            @include media("<=phone") {
              font-size: 1rem;
              margin-bottom: 0.875rem;
            }

            a {
              text-decoration: none;
              color: $black;
            }
          }
        }
      }
    }
  }
}
